* {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
}
:root {
  --onyx: #393e41;
  --bud: #d0d6b5;
  --ming: #587b7f;
  --salmon: #dd9787;
  --coral: #f78764;
}
a {
  text-decoration: none;
}

.top {
  height: 100vh;
}
span.divider {
  border-top: 1px solid rgba(128, 128, 128, 0.658);
  content: "";
  height: 1px;
  display: block;
  width: 60%;
  margin: 0 auto;
}
/* ======introvideo======= */
.video {
  /* border: 1px solid black; */
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -10;

  overflow: hidden;
}
.video video {
  height: 100vh;
  z-index: -10;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
/* .up img {
  color: beige;
  position: fixed;
  left: calc(50% - 25px);
  top: 80%;
} */
@media screen and (min-width: 768px) {
  .video {
    height: 100vh;
    overflow: hidden;
  }
  .video video {
    width: 100vw;
  }
}
/* ==== Navigation ==== */

#menu_control {
  position: absolute;
  /* display: none; */
}

.header {
  height: 50px;
  background-color: transparent;
  display: inline-block;
  z-index: -10;

  position: fixed;
  width: 100%;
  top: 0;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo {
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.menu_btn {
  width: 40px;
  height: 40px;
  background-color: #000;
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 10px;
}
.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}
.menu_btn::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 6px;
  width: 28px;
  background-color: #aaa;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px #aaa, 0px -8px 0px #aaa;
}
nav {
  width: 50%;
  position: absolute;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  background-color: #fcc;
  display: block;
  padding-top: 20px;
  z-index: 100;

  left: -100%;
  transition: 0.5s;
}
#menu_control:checked ~ .header nav {
  left: 0;
  position: relative;
  z-index: 100;
}
.navLinks li {
  font-size: 18px;
  padding: 10px 20px;
}
.LoginSignup {
  position: relative;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .menu_btn {
    display: none;
  }
  .header {
    display: flex;
  }
  .logo {
    justify-content: flex-start;
    margin-left: 10%;
  }
  nav {
    display: flex;
    position: relative;
    left: 0%;
    height: auto;
    width: calc(100vw - 10% - 50px);
    top: 0;
    padding: 0;
    background-color: transparent;
    margin-left: 30%;
    justify-content: flex-end;
    align-items: center;
  }
  ul.navLinks > :first-child {
    display: none;
  }
  ul.navLinks {
    display: flex;
  }
  div.LoginSignup {
    margin-right: 10%;
    margin-left: 30%;
    white-space: nowrap;
  }
}
/* =====intro===== */
.middle {
  position: relative;
  background: linear-gradient(to bottom left, #ffc4b3, rgb(255, 251, 250));
}
.intro {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.intro img {
  width: 20px;
  height: 20px;
  margin: 0 auto;

  margin-top: 100px;
}
.intro p {
  font-size: 16px;
  margin-top: 50px;
  width: 70%;
  margin-left: 15%;
  word-wrap: break-word;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .intro p {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
/* =====marathon banner===== */
.marathon {
  margin-top: 150px;
}
.window {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;

  margin-top: 100px;
}
.container {
  display: block;
  width: 6000px;
  height: 200px;
  margin-left: 0px;
}

img {
  width: 400px;
  height: 200px;
  position: relative;
  float: left;
}

.mEvent p.title {
  font-size: 24px;
  margin-left: 15%;
  color: var(--ming);
}
@media screen and (min-width: 768px) {
  .window {
    width: 60%;
  }
  img {
    width: 600px;
    height: 300px;
  }
}

/* =====Why Us===== */
.whyus {
  /* border: 1px solid black; */
  margin-top: 100px;
}
.whyus p {
  font-size: 24px;
  margin-left: 15%;
  color: var(--ming);
}
.whyusbox {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.whyusbox i.fas {
  color: var(--onyx);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.service,
.price,
.refund {
  /* border: 1px solid var(--ming); */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 30px;

  /* box-shadow: 0 0 8px 5px rgba(189, 189, 189, 0.521); */
}
.whyusbox p.title {
  font-size: 18px;
  color: var(--onyx);
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 5px;
}
.whyusbox span {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgba(83, 83, 83, 0.938);
}

@media screen and (min-width: 768px) {
  .whyusbox {
    flex-direction: row;
  }
}
/* =====review===== */
.pplreview {
  /* border: 1px solid white; */
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.pplreview p.title {
  font-size: 24px;
  margin-left: 15%;
  color: var(--ming);
  margin-bottom: 50px;
}
.pplreview > span {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 40px;
}
.pplcard {
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.ppl1,
.ppl2,
.ppl3 {
  background-color: rgb(255, 249, 246);
  width: 300px;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0 auto;
  box-shadow: 0 0 8px 5px rgba(216, 216, 216, 0.521);
}
.ppl1 p.reviewtitle,
.ppl2 p.reviewtitle,
.ppl3 p.reviewtitle {
  margin: 10px 0;
}
.reviewpic {
  width: 280px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.reviewpic img {
  width: 100%;
}
.comment {
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment p {
  margin-top: 5px;
  font-size: 16px;
}

.comment span {
  color: rgb(141, 129, 129);
  font-size: 14px;
  position: relative;
}
.ppl1 .memberimg {
  background-image: url("../pic/icon/peep-3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  /* border: 1px solid rgb(141, 129, 129); */
}
.ppl2 .memberimg {
  background-image: url("../pic/icon/peep-10.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  /* border: 1px solid rgb(141, 129, 129); */
}
.ppl3 .memberimg {
  background-image: url("../pic/icon/peep-41.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  /* border: 1px solid rgb(141, 129, 129); */
}
.member {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.member .Name {
  margin-left: 10px;
}
/* =====Footer===== */
.footer_social i.fab {
  color: #756164;
}
.footer_social {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.footer_menu a {
  text-decoration: none;
  color: #756164;
}
.footer_copyright {
  color: white;
  font: 12px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  background-color: var(--ming);
  padding-left: 70px;
  height: 100px;
  align-items: center;
}
.footer {
  flex-shrink: 0;
}
