* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --onyx: #393e41;
  --bud: #d0d6b5;
  --ming: #587b7f;
  --salmon: #dd9787;
  --coral: #f78764;
}
/* ==== Navigation ==== */

#menu_control {
  position: absolute;
  display: none;
}

.header {
  height: 50px;
  background-color: var(--salmon);
  display: inline-block;
  /* z-index: -10; */

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.logo {
  display: block;
  margin: 0 auto;
  position: relative;
}
.logo img {
  width: 50px;
  height: 50px;
  z-index: 1;
}
.menu_btn {
  width: 40px;
  height: 40px;
  background-color: var(--salmon);
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 10px;
}
.menu_btn:hover {
  cursor: pointer;
}

.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}
.menu_btn::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 6px;
  width: 28px;
  background-color: white;
  top: 10px;
  bottom: 10px;
  margin: auto;
  box-shadow: 0px 8px 0px white, 0px -8px 0px white;
}
nav {
  width: 100%;
  position: absolute;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  background: linear-gradient(to bottom, var(--salmon), rgb(60, 92, 141));
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 4rem;
  box-shadow: 0px 5px 5px rgba(148, 148, 148, 0.315);
  left: -100%;
  transition: 0.5s;
}
#menu_control:checked ~ .header nav {
  left: 0;
  position: relative;
  z-index: 100;
}
.navLinks {
  margin-top: 50px;
}

.navLinks li {
  color: var(--onyx);
  font-weight: bolder;
  font-size: 18px;
}
.navLinks span {
  color: white;
}
.navLinks a:hover {
}
.navLinks a {
  color: var(--onyx);
}
@media screen and (min-width: 768px) {
  .menu_btn {
    display: none;
  }
  .header {
    display: flex;
  }
  .logo {
    display: block;
    margin-left: 10%;
  }
  .logo img {
    width: 50px;
    height: 50px;
  }
  nav {
    background: none;
    box-shadow: none;
    display: flex;
    position: relative;
    left: 0%;
    height: auto;
    width: calc(100% - 70px);
    top: 0;
    padding: 0;
    background-color: transparent;

    justify-content: flex-end;
    align-items: center;
  }
  ul.navLinks > :first-child {
    display: none;
  }
  .navLinks span {
    color: var(--onyx);
  }
  ul.navLinks {
    display: flex;
    column-gap: 2rem;
    margin: 0;
    margin-right: 10%;
  }
}
/* ==== Image Slider ==== */

.window {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.container {
  display: block;
  width: 6000px;
  height: 300px;
  margin-left: 0px;
}

img {
  position: relative;
  float: left;
}

/* =======Breadcrumb======== */

.wrap {
  position: relative;
  padding: 10px 10px;
  width: 100%;
  margin-top: 10px;
}
.breadcrumb {
  width: 100%;
  display: flex;
}
.breadcrumb li {
  padding: 0 8px;
  font-size: 14px;
}
.breadcrumb li:last-child {
  text-decoration: none;
  color: var(--onyx);
  font-weight: bolder;
}
.breadcrumb a {
  text-decoration: none;
  color: var(--onyx);
}
breadcrumb li + li {
  padding-left: 0;
}
.breadcrumb li + li::before {
  content: "/";
  color: var(--onyx);
  margin-right: 25px;
}
@media screen and (min-width: 768px) {
  .wrap {
    margin-left: 8%;
  }
}
/* =======Title+Detail+Content======== */
.title p {
  font-size: 1.3em;
  position: relative;
  left: 5%;
  display: inline-block;
  line-height: 3rem;
  color: var(--ming);
}
.detail {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 10px;
  line-height: 2rem;
  color: var(--onyx);
}
.detail .place {
  flex-direction: column;
}
.eventcontent {
  top: 20px;
  /* border: 1px solid green; */
  position: relative;
  left: 5%;
  width: calc(100% - 10%);
  background: none;
}
.eventcontent img {
  width: calc(100% - 10%);
  box-shadow: 5px -5px 10px rgba(185, 185, 185, 0.322);
}
.eventcontent .intro::first-letter {
  font-size: 24px;
}
.eventcontent .intro {
  margin-top: 10px;
  margin-bottom: 20px;
}

.route1,
.route2 {
  position: relative;
}
.route1 p,
.route2 p {
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media screen and (min-width: 768px) {
  .title,
  .eventcontent {
    left: 10%;
  }
  .detail {
    margin-left: 10%;
  }
  .eventcontent {
    width: calc(100% - 20%);
  }
  .eventcontent img {
    width: calc(100% - 30%);
  }
  .routebox {
    display: flex;
    flex-direction: column;
  }
}
/* =======Review======== */
.review {
  /* border: 1px solid green; */
  margin-top: 50px;
}
.review p {
  font-size: 18px;
}
.profile1,
.profile2 {
  margin-top: 30px;
}
.pTitle1 {
  background-image: url("../pic/icon/peep-3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pTitle2 {
  background-image: url("../pic/icon/peep-10.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pTitle1 span,
.pTitle2 span {
  margin-left: 60px;
  display: flex;
  white-space: nowrap;
}
.pName {
  font-weight: bold;
}
.pDist,
.pDate,
.comment,
.like_btn {
  line-height: 1.5rem;
  margin-left: 10px;
}
.comment p::first-letter {
  font-size: 20px;
}
.comment p {
}
.like_btn {
  display: flex;
  column-gap: 1rem;
}
/* =====Footer===== */

.bottom .content span,
.bottom .content a {
  font-size: 14px;
  color: white;
  display: flex;
  margin: 0 auto;
  /* margin-top: 20px; */
}
.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bottom .content {
  background-color: var(--ming);
  height: 100px;
  /* align-items: center; */
  display: flex;
  width: 100%;

  flex-direction: column;
  row-gap: 10px;
}
.bottom span.ourinfo {
  margin-top: 20px;
  column-gap: 1rem;
}
.bottom .socialLinks {
  font-size: 14px;
  color: white;
  display: flex;
  margin: 0 auto;
  column-gap: 1rem;
}
.bottom .socialLinks i.fab {
  color: rgb(255, 240, 240);
}
.bottom .footer {
  flex-shrink: 0;
}
