* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "微軟正黑體", "ubuntu";
  background-repeat: no-repeat;
}
div.slider {
  display: inline-block;
  position: absolute;
  top: 90px;
  left: 8%;
}
div.slider div {
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

div.distance,
div.region,
div.registrationdate,
div.eventdate {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}
div.distance span.bydistance,
div.region span.byregion,
div.registrationdate span.byregidate,
div.eventdate span.byeventdate {
  background-color: #71828b62;
  color: white;
  padding: 10px 10px;

  width: 100%;
  text-align: center;
  font-size: 18px;

  position: absolute;
  z-index: 1;
}

div.middle {
  display: block;
  position: absolute;

  /* right: calc(45% - 70px); */
  /* border: 1px solid red; */
  vertical-align: top;
  top: 400px;
  width: 100%;
}
div.search {
  position: relative;
  left: 45%;
}
div.search p {
  left: 45%;
  margin-bottom: 10px;
  font-size: 36px;
  color: #df6642d3;
}

div.search input.search {
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  outline: none;
  border: none;
  transition: width 1s ease-in-out;
  width: 150px;
  border: 1px solid #fda1857e;
  text-align: center;
}
div.search input.search:focus {
  width: 300px;
  border: 2px solid #fda1857e;
}
div.search i.fas {
  color: #756164;
}
div.search button {
  background: #fda18542;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #fda1857e;
  padding: 5px 10px;
  width: 60px;
  border-radius: 5px;
  text-align: center;
}
.search select {
  margin-right: 20px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  /* display: none; */
}
/* 客製化下拉選單 */
.select-selected {
  background-color: white;
  color: #756164;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: 756164;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

div.condition {
  margin-top: 10px;
}

td.row_img img {
  width: 400px;
  height: 250px;
  border-radius: 5px;
}
table.result1 {
  position: absolute;
  top: 700px;
  left: 8%;
  width: 85%;
  height: 300px;
  /* border: 1px solid black; */
}

table.result2 {
  position: absolute;
  top: 1100px;
  left: 8%;
  width: 85%;
  height: 300px;
}

table.result3 {
  position: absolute;
  top: 1500px;
  left: 8%;
  width: 85%;
  height: 300px;
}
table td,
table th {
  /* border: 1px solid black; */
}
td.title a {
  text-decoration: none;
  color: #5e91aa;
  font-size: 36px;
  font-weight: bold;
}
td.title {
  padding: 10px 20px 0px 20px;
  vertical-align: top;
  height: 40px;
}
td.info {
  padding: 10px 20px;
  vertical-align: top;
  font-weight: bold;
  color: #979797;
  font-size: 20px;
  line-height: 1.5;
  height: 60px;
  top: 5px;
}
td.content {
  padding: 10px 20px;
  vertical-align: top;
  color: #979797;
  font-size: 20px;
  line-height: 1.5;
}
span.more1 {
  position: absolute;
  right: 100px;
  bottom: 850px;
  vertical-align: bottom;
  /* border: 1px solid #979797; */
  background-color: #97979763;
  padding: 0px 10px;
  border-radius: 5px;
}
span.more i.fas {
  color: #ffffff;
}
