:root {
  --onyx: #393e41;
  --bud: #d0d6b5;
  --ming: #587b7f;
  --salmon: #dd9787;
  --coral: #f78764;
}
* {
  list-style: none;
}
/* =======background======== */
.middle {
  background: none;
}
main {
  background: linear-gradient(to bottom left, #ffc4b3, rgb(255, 251, 250));
}
/* =======Navigation======== */

/* =======breadcrumb======== */

/* =======three blocks======== */
.top {
  height: auto;
}
div.slider {
  display: flex;
  justify-content: space-evenly;
  column-gap: 4rem;
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
div.distance,
div.region,
div.month {
  height: 200px;
  width: 300px;
  overflow: hidden;
  border-radius: 5px;
}
div.distance:hover,
div.region:hover,
div.month:hover {
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.685);
  cursor: pointer;
}
div.slider div.distance {
  background-image: url("../pic/bydistance.jpg");
  background-position: center;
}
div.slider div.region {
  background-image: url("../pic/byregion.jpg");
  background-position: center;
}
div.slider div.month {
  background-image: url("../pic/byeventdate.jpg");
  background-position: center;
}
div.slider span {
  background-color: #4119696c;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;

  position: relative;
  color: white;
}

@media screen and (max-width: 767px) {
  main .slider {
    display: flex;
    flex-wrap: wrap;
  }
  main .slider .distance,
  main .slider .region,
  main .slider .month {
    margin-top: 20px;
  }
}
/* =======searching bar======== */
main .middle {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}
.wrapSearch {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

div.search {
  width: 100%;
  display: flex;
  justify-content: center;
}
div.wrapSearch p {
  font-size: 24px;
  color: var(--ming);
  margin-bottom: 20px;
  margin-top: 20px;
}

.searchBar {
  width: 40%;
  border: 3px solid var(--ming);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
div.wrapSearch .title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchBar:focus {
  background: linear-gradient(60deg, white, var(--bud));
  color: var(--onyx);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--ming);
  background: var(--ming);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

div.filter {
  /* border: 1px solid black; */
  width: 100px;
  /* border: 3px solid cornsilk; */
  border-radius: 5px;
  height: 35px;
  padding: 5px 7px;
  color: var(--ming);
  background-color: cornsilk;
}

/* =======options======== */
div.optionTitle {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 25px;
  line-height: 3rem;
  justify-content: center;
  column-gap: 1rem;
}

div.optMonth,
div.optRegion,
div.optDistance,
div.optType {
  border: 1px solid var(--ming);
  border-radius: 5px;
  color: var(--ming);
  padding: 0px 10px;
  width: auto;
  /* height: 30px; */

  display: flex;
  align-items: center;
  justify-content: space-around;
}
div.optMonth:hover,
div.optRegion:hover,
div.optDistance:hover,
div.optType:hover {
  cursor: pointer;
  background-color: var(--ming);
  color: white;
}
div.optMonth:active,
div.optRegion:active,
div.optDistance:active,
div.optType:active {
  cursor: pointer;
}
div.optMonth.selected,
div.optRegion.selected,
div.optDistance.selected,
div.optType.selected {
  background-color: var(--ming);
  color: white;
}

ul.optMonth,
ul.optRegion,
ul.optDistance,
ul.optType {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 10px;
}
ul.optMonth input[type="checkbox"],
ul.optRegion input[type="checkbox"],
ul.optDistance input[type="checkbox"],
ul.optType input[type="checkbox"] {
  display: none;
}
ul.optMonth input[type="checkbox"] + span,
ul.optRegion input[type="checkbox"] + span,
ul.optDistance input[type="checkbox"] + span,
ul.optType input[type="checkbox"] + span {
  cursor: pointer;
  display: flex;
  border: 1px solid var(--ming);
  border-radius: 5px;
  user-select: none;
  padding: 0px 5px;
}
ul.optMonth input[type="checkbox"]:checked + span,
ul.optRegion input[type="checkbox"]:checked + span,
ul.optDistance input[type="checkbox"]:checked + span,
ul.optType input[type="checkbox"]:checked + span {
  cursor: pointer;
  color: var(--onyx);
  background-color: var(--bud);
}
div.filterbox {
  /* border: 1px solid red; */
  display: flex;
  margin: 0 auto;
  line-height: 3rem;
  width: 70%;
  justify-content: flex-start;
  color: var(--onyx);
}
.filterbox .filterResult {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .optionTitle {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
  }
  ul.optMonth,
  ul.optRegion,
  ul.optDistance,
  ul.optType {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
}
/* =======result box======== */
