.slider {
    display: flex;
    width: 100vw;
    margin-left: 70px;
    align-items: baseline;
    justify-content: center;
    padding-top: 100px;
}
.distance a{
    text-decoration: none;
}
.slider .distance{
    background-image: url(../pic/bydistance.jpg);
    width: 400px;
    height: 300px;
    border-radius: 5px;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    overflow: hidden;
}

.distance p.des{
    display:block;
    font-size: 20px;
    color:papayawhip;
    width: 100%;
    background-color: rgba(110, 110, 110, 0.5);
    padding: 20px 10px;
}
.distance:hover{
    box-shadow: 5px 10px rgba(110, 110, 110, 0.5);
}
.region a{
    text-decoration: none;
}
.slider .region{
    background-image: url(../pic/byregion.jpg);
    width: 400px;
    height: 300px;
    border-radius: 5px;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 20px;
}
.region p.des{
    display:block;
    font-size: 20px;
    color:papayawhip;
    width: 100%;
    background-color: rgba(110, 110, 110, 0.5);
    padding: 20px 10px;

}
.region:hover{
    box-shadow: 5px 10px rgba(110, 110, 110, 0.5);
}

.middle{
    display: flex;
    position: relative;
    left: 50%;
    margin-top: 40px;
}
div.search p{
    left: 45%;
    margin-bottom: 10px;
    font-size: 36px;
    color: #df6642d3;
}

div.search input.search{
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    outline: none;
    border: none;
    transition: width 1s ease-in-out;
    width:300px;
    /* border: 1px solid #fda1857e; */
    text-align: center;
    margin-bottom: 10px;
    
}
div.search input.search:focus{
    width: 300px;
    /* border: 2px solid #fda1857e; */
}
div.search i.fas{
    color:#756164;
}
div.search button{
    background: #fda18542;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #fda1857e;
    padding:5px 10px;
    width: 60px;
    border-radius: 5px;
    text-align: center;
}

.block1,.block2,.block3{
    display: flex;
    /* border: 1px solid black; */
    height: 300px;
    width: 1000px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 270px;
    background-color:rgba(110, 110, 110, 0.212);
    border-radius: 5px;

}
.p1, .p2, .p3{
    display: flex;
    width: 300px;
    /* border: 1px solid blue; */
    padding: 10px 5px;
}
.pic1{
    background-image: url(../pic/previous1.jpg);
    width:700px;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.pic2{
    background-image: url(../pic/aboutus2.jpg);
    width:700px;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
}
.pic3{
    background-image: url(../pic/aboutus3.jpg);
    width:700px;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
}
div.result a{
    text-decoration: none;
}
.content1, .content2, .content3 h2 {
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}
